.patients_route {
	height: 100%;
}

.patient_profile_route {
	padding: 1rem;
	max-height: 87%;
	position: relative;
}

#patients_list_container {
	padding: 0.7rem;
}

#patients_list_container h3 {
	display: inline-block;
	width: 10rem;
	margin-left: 0.3rem;
}

.patients_list {
}

#selected_patient_container {
	width: 100%;
	height: 3rem;
	line-height: 3rem;
	padding: 0 1.54rem;
	font-size: 1.2rem;
	background: #4c4c4c;
	color: floralwhite;
	border: 1px solid black;
}

.patient {
	color: #4c4c4c;
	line-height: 2rem;
	border-bottom: 1px solid black;
	padding: 0.5rem;
	font-weight: bold;
}

.patient:hover {
	cursor: pointer;
	background: rgb(253, 232, 191);
}

.patient span {
	width: 10rem;
	display: inline-block;
}

#search_patient_input {
	display: block;
	height: 2rem;
	outline: none;
	font-size: 1.3rem;
	text-align: center;
	width: 15rem;
	margin-bottom: 2rem;
	background: none;
	border: none;
	border-bottom: 1px solid black;
	transition: 300ms ease;
}

#search_patient_input:focus {
	width: 30rem;
	transition: 300ms ease;
}

#patient_tabs_container {
}

.patient_tab {
	display: inline-block;
	padding: 1rem;
	font-size: 1.3rem;
	border-bottom: 2px #4c4c4c solid;
}

.active_patient_tab {
	background: #4c4c4c;
	color: floralwhite;
}

.patient_tab:hover {
	cursor: pointer;
	background: #4c4c4c;
	color: floralwhite;
}

#patients_info_container {
	display: inline-block;
	padding: 1rem;
	background: #eaeaea;
	color: #4c4c4c;
	border: 1px solid black;
}

#patients_info_container p {
	display: block;
	font-size: 1.2rem;
	margin-bottom: 1rem;
}

#patients_info_container u {
	font-weight: 600;
	text-decoration: none;
}

#close_patient_tab {
	font-size: 2.5rem;
	float: right;
	cursor: pointer;
	color: floralwhite;
}

#close_patient_tab:hover {
	background: none;
	color: red;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
}

@media only screen and (max-width: 1000px) {
	#patients_list_container {
		padding: 0;
		text-align: left;
	}
	.patient span {
		width: 16%;
	}

	#patients_list_container h3 {
		margin: 0 0 0 0;
		font-size: 1rem;
		width: 16%;
	}
}

@media only screen and (max-width: 500px) {
	#patients_list_container {
		padding: 0;
		text-align: center;
	}
	.patient span {
		font-size: 3vw;
		width: auto;
		margin-right: 0.5rem;
	}

	#patients_list_container h3 {
		margin: 0 0 0 0;
		font-size: 1rem;
		width: 16%;
	}
}
